{% extends "base.html" %} {% block title %}FastAPI Starter{% endblock %} {%
block head %} {{ super() }} {% endblock %} {% block page_content %} {% include
'include/sidebar.html' %}
<h1>Analyse de données</h1>
<p>azedrt</p>

<div class="card" style="width: 18rem">
  <img
    src="https://hips.hearstapps.com/hmg-prod/images/jokes-for-kids-14-1631055180.png?crop=1xw:0.6666666666666666xh;center,top&resize=980:*"
    class="card-img-top"
    alt="notFound"
  />
  <div class="card-body">
    <h5 class="card-title">
      Quelles sont les 10 années les plus chaudes depuis 1996 ?
    </h5>
    <p class="card-text">
      Evolution des températures max en France depuis 1996
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{{data.page}}
<h6>{{data.soustitre}}</h6>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
